<div class="container">
	<h1>PROFESORES</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Mostrando {{ data.posts.results.length}} profesores.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="panel" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)">
				<div class="panesl">

					<div class="panel-body">

						<h2 class="panel-title"><a href="{{postUrl key}}">{{name}}</a></h2>
						<h6 class="panel-subtitle mb-2 text-muted">{{{categoryList subjects prefix="Profesor de "}}}</h6>
						{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
						<p>{{{description}}}</p>
						{{#if description}}<p class="read-more panel-link"><a href="{{postUrl key}}">Leer mas...</a></p>{{/if}}
					</div>
				</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Materias</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">Todas las materias</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
